#captcha {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
    display: flex;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    background-color: black;
    padding: 0.8em;
    border-radius: 5px;
}

.invalidCaptcha {
    border: solid 2px red;
    border-radius: 3px;
}

.invalidCaptcha + span::after {
    content: "captcha invalide";
    color: red;
    font-size: 0.7em;
    font-style: italic;
    padding-left: 5px;
}

.validCaptcha {
    border: solid 2px green;
    border-radius: 3px;
}

.validCaptcha + span::after {
    content: "vérification réussie";
    color: green;
    font-size: 0.7em;
    font-style: italic;
    padding-left: 5px;
}

#captchaValidate {
    font-weight: bold;
    width: 420px;
    max-width: 85%;
    height: 30px;
    background-color: antiquewhite;
    border: none;
}

#captchaInput {
    display: flex;
    margin: auto;
    align-items: center;
    max-width: 75%;
    border: 2px solid black;
}

#captchaRefresh {
    display: flex;
    margin: auto;
    justify-content: center;
}

#blockcaptcha{
    margin-right: 22.5%;
    margin-left: 22.5%;
    background-color: antiquewhite;
}
        
        