
/*
  .bordcaptcha{
    position: absolute;
    top: 722px;
    left: 789px;
    border: 2px solid #d3d3d3;
    background: #eadab3;
  }*/

#captcha {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
    background-color: black;
    display: inline;
    padding: 1.5em;
    border-radius: 5px;
    width: 181px;
    height: 100px;
    
}

.invalidCaptcha {
    border: solid 2px red;
    border-radius: 3px;
}

.invalidCaptcha + span::after {
    content: "captcha invalide";
    color: red;
    font-size: 2em;
    font-style: italic;
    padding-left: 5px;
}

.validCaptcha {
    border: solid 2px green;
    border-radius: 3px;
}

.validCaptcha + span::after {
    content: "vérification réussie";
    color: green;
    font-size: 2em;
    font-style: italic;
    padding-left: 5px;
}