*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Courier New', Courier, monospace;
    background: rgb(39,215,230);
background: linear-gradient(153deg, rgba(39,215,230,1) 9%, rgba(255,255,255,1) 37%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 100%);
background-repeat: no-repeat;

}

.container{
    width: 100vw; 
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 7rem;
    padding: 0 2rem;
}
.img{
    display: flex;
    justify-content:flex-start;
    align-items: center;
}
.img img{
    width: 500px;
}

.login-container{
    display: flex;
    align-items: center;
    text-align: center;
}
form{
    width: 360px;
}
.avatar{
    width: 100px;
}

form h2{
    font-size: 2.9rem;
    text-transform: uppercase;
    margin: 15px 0;
    color:#333; 
}
.txt{
    position: absolute;
    top: 783px;
}


.input-div{
    display: grid;
   /*grid-template-columns: 7% 93%;*/
    margin: 25x 0;
    padding: 5px 0;
    
}
/*
.input-div one{
  margin-top: 0;
}
/*
.input-div > div{
    position: relative;
    height: 45px;
}
.input-div > div h5{
    position:absolute; 
    left:10px ;
   /* top:50%; 
   /* transform: translateY(-50%);*/


/*** pour mettre dans invisible 
.input{
    position: absolute; 
    width: 100%;
    height: 100%;
    top:0; 
    left: 0;
    border: none;
    outline: none;
}*/
.messageUser{
    border: solid 2px #333;
    border-radius: 10px;
    width: 477px;
    height: auto;
    margin: 7px 7px;
    margin-right: 10px;
    padding: 10px;
}
.messageTest{
    width:200px;
    height: auto;
   
}


.btn{
    display: block; 
    width: 100%;
    height: 50px;
    border-radius: 25px;
    margin: 1rem 0;
    font-size: 1.2rem;
    background-image: linear-gradient(to right ,rgba(39,215,230,1) 9%, rgba(255,255,255,1) 37%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 100%);
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
   /* background-size: 200%;*/
}

@media screen and (max-width:1050px) {
    .container{
        grid-gap:5rem; 
    }
}

@media screen and (max-width:900px) {
    from{
        width: 290px;
    }
    from h2{
        font-size: 2.4rem;
        margin:8px 0;
    }
    .img img{
        width: 400px;
    }
    .messageUser{
        width: 390px;
    }
}


@media screen and (max-width:700px){
    .img{
        display: none; 
    }
    .container{
        grid-template-columns: 1fr;
    }
    .login-container{
        justify-content: center;
    }

}