<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire Responsive</title>
    <link rel="stylesheet" href="exo_respons.css">
</head>
<body>
    <h1>Miaow Miaow</h1>
    <form action="">
        <div class="miaou">
            <label for="nom">login : </label>
            <input type="text" name="login" id="log" placeholder="Taper votre login">
        </div>
        <div class="miaou">
            <label for="password">Mot de passe : </label>
            <input type="password" name="password" id="pass" >
        </div>
            <input type="submit" value="connect">
        </div>
    </form>
</body>
</html>

*{
    box-sizing: border-box;
}
body{
    font-family: cursive;
    text-align: center;
    
}
.miaou{
    margin:1em;
}